body {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family: "Graphik", -apple-system, BlinkMacSystemFont, sans;
    line-height: 1.70588235;
}

nav {
    float: right;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav>ul>li>a {
    color: #aaa;
    display: block;
    line-height: 5em;
    padding: 0.5em 1em;
    text-decoration: none;
    margin: 10px 15px 15px 10px;
}

.logo-img {
    float: left;
    display: block;
    position: relative;
    line-height: 5em;
    margin-left: 45px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    border-style: none;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 0px;
}

.logo-txt {
    float: left;
    display: block;
    position: relative;
    line-height: 4em;
    border-style: none;
    margin-right: 25px;
    text-align: center;
    vertical-align: middle;
}

.bg-div {
    background: #AARRGGBB;
    overflow: hidden;
}

.navlisttxt {
    display: inline-block !important;
    float: right;
    display: block;
    position: relative;
    line-height: 2em;
    margin-right: 20px;
    border: 0px;
    padding: 0.5em 0em;
    margin: 10px 15px 15px 10px;
}

.freetrial {
    font-size: 17px;
    padding: 0 20px;
    line-height: 37px;
    margin-right: 55px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px;
    font-family: "Graphik", -apple-system, BlinkMacSystemFont, sans;
    color: white;
    display: inline-block !important;
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    border-color: rgba(198, 231, 255, 0.45);
}

.rightbutton {
    font-size: 20px;
    font-weight: 600;
    padding: 0 24px;
    line-height: 37px;
    margin-right: 680px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px;
    font-family: "Graphik", -apple-system, BlinkMacSystemFont, sans;
    color: white;
    display: inline-block !important;
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    float: right;
    border-color: rgba(198, 231, 255, 0.45);
    margin-top: 20px;
}

.leftbutton {
    line-height: 37px;
    margin-bottom: 20px;
    margin-left: 550px;
    margin-top: 20px;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    padding: 0 24px;
    text-align: center;
    float: left;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    font-family: "Graphik", -apple-system, BlinkMacSystemFont, sans;
    color: white;
    display: inline-block !important;
    background-color: #F60053;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    border-color: #F60053;
}

.twobuttons {
    text-align: center;
}

.sec1 {
    background-image: url("Assets/hero-bg.jpg");
    background-color: #cccccc;
    height: 1065px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec2 {
    background-color: #081217;
    padding: 20px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.supportnav {
    text-align: center;
    line-height: 1.70588235;
    letter-spacing: 0.01em;
    color: rgba(198, 231, 255, 0.45);
    font-size: 17px;
}

.greenline {
    color: #1CE7A5;
    background-color: #1CE7A5;
    height: 5px;
}

.bothdata {
    flex-wrap: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.line1 {
    margin-left: 400px;
    width: 65px;
    height: 47px;
    border-top: 5px solid #1CE7A5;
    position: absolute;
}

.line2 {
    margin-left: 850px;
    border-bottom: 0px;
    width: 65px;
    height: 47px;
    border-top: 5px solid #1CE7A5;
    position: absolute;
}

.leftbox {
    margin-left: 400px;
}

.rightbox {
    margin-left: 850px;
}

.nav3-1 {
    color: white;
    border-right: 4px solid #1CE7A5;
    font-size: 30px;
    line-height: 60px;
    text-align: right;
    padding: 17px;
}

.nav3-23 {
    color: rgba(207, 252, 255, 0.3);
    border-right: 4px solid rgba(30, 232, 165, 0.17);
    font-size: 30px;
    line-height: 60px;
    text-align: right;
    padding: 17px;
}

.sec4t1 {
    color: white;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.45em;
    margin-bottom: 2rem;
    margin-top: 0;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: right;
}

.sec4t2 {
    color: #1EE8A5;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    font-weight: 600;
    line-height: 1.35em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.downloadbutton {
    line-height: 37px;
    margin-top: 200px;
    margin-left: 70px;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    padding: 0 24px;
    text-align: center;
    float: left;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    color: white;
    display: inline-block !important;
    background-color: #F60053;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    border-color: #F60053;
}

.sec5 {
    background-color: #081217;
    padding: 10px;
    height: 1050px;
}

.line3 {
    margin-left: 700px;
    width: 120px;
    height: 47px;
    border-top: 5px solid rgb(149, 254, 1);
    position: absolute;
}

.line4 {
    margin-left: 850px;
    border-bottom: 0px;
    width: 120px;
    height: 47px;
    border-top: 5px solid rgb(149, 254, 1);
    position: absolute;
}

.chart {
    margin-left: 700px;
    width: 120px;
    height: 47px;
    border-top: 5px solid rgb(149, 254, 1);
    position: absolute;
    color: white;
    font-size: 26px;
    font-weight: 600;
    line-height: 1em;
    text-align: center;
}

.list {
    margin-left: 850px;
    border-bottom: 0px;
    width: 120px;
    height: 47px;
    border-top: 5px solid #1C2A2F;
    position: absolute;
    color: white;
    font-size: 26px;
    font-weight: 600;
    line-height: 1em;
    text-align: center;
}

.sec6 {
    background-image: url("Assets/sec6bg.png");
    background-color: black;
    padding: 20px;
    background-repeat: repeat;
    background-position: top;
    background-size: cover;
    height: 755px;
}

.clock1 {
    color: white;
    font-size: 30px;
    line-height: 60px;
    text-align: left;
    padding: 17px;
}

.clock2 {
    color: rgba(207, 252, 255, 0.3);
    font-size: 30px;
    line-height: 60px;
    text-align: left;
    padding: 17px;
}

.round-button {
    box-sizing: border-box;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 20px;
    border: 3px solid #fff;
    border-radius: 50%;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    transition: all 0.3s ease;
}

.sec7 {
    background-image: url("Assets/highlighted-section-bg-bottom.png");
    background-color: #0C1923;
    padding: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.sec8 {
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #081217;
    height: 445px;
}

.sec9 {
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #081217;
    height: 450px;
}

.sec10 {
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #081217;
    height: 650px;
}